@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --color-background1: #4a5568;
  --color-background2: #718096;
  --color-main1: #a0aec0;
  --color-main2: #e4e7eb;
  --color-main3: #f5f7fa;
  --color-alert: #ef0d33;
  --color-sucessful: #1eff05;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr ;
  background-color: var(--color-background1);
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 2rem;
  padding-right: 0;
  color: var(--color-main3);
}

.logo {
  font-weight: 700;
  font-size: 1.6rem;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border: 0;
  color: var(--color-main2);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
}

.btn-menu.active {
  background-color: var(--color-main3);
  color: var(--color-background1);
  width: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.bi-hand-index-fill,
.bi-hand-index {
  transform: rotate(0.25turn);
}

.btn-cart {
  margin-top: 8rem;
}

.cantidad-compras {
  background-color: var(--color-main3);
  color: var(--color-alert);
  padding: .4rem;
  border-radius: 50%;
  border: 1px solid var(--color-alert);
}

.cantidad-compras:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.btn-cart.btn-menu.active .cantidad-compras {
  background-color: var(--color-alert);
  color: var(--color-alert);
}

span {
  color: var(--color-alert);
}

.text-footer {
  color: var(--color-main1);
  font-size: 0.85rem;
}

main {
  background-color: var(--color-main3);
  margin: 1rem 1rem 1rem 0;
  border-radius: 2rem;
  padding: 3rem;
}

.main-title {
  font-size: 1.8rem;
  color: var(--color-background1);
  margin-bottom: 2rem;
  text-shadow: 3px 3px 4px var(--color-background2);
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.product-img {
max-width: 100%;
border-radius: 1rem;
}

.product-datail {
  display: flex;
  flex-direction: column;
  background-color: var(--color-main2);
  color: var(--color-background1);
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid var(--color-background2);
  margin-top: -1.7rem;
  position: relative;
  gap: 0.25rem;
}

.product-title {
  font-size: 0.85rem;
}

.product-price {
  font-size: 0.85rem;
}

.product-add {
  border: 0;
  background-color: var(--color-background2);
  color: var(--color-main2);
  padding: 0.25rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid var(--color-background2);
}

.product-add:hover {
  background-color: var(--color-main2);
  color: var(--color-alert);
  transform: scale(1.05);
  transition: 0.3s;
}

/* Carrito */

.empty-cart, 
.buy-sucess {
  color: var(--color-alert);
  margin: 1rem;
}

.products-cart {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.product-cart {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-main2);
  border-radius: 1rem;
  align-items: center;
  color: var(--color-background1);
  padding: 0.5rem;
  padding-right: 1.5rem;
}

.product-cart p {
  font-size: 0.85rem;
  font-weight: 500;
}

.product-cart-img {
  width: 4rem;
  border-radius: 1rem;
}

.product-cart-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-cart h3 {
  font-size: 1rem;
}

.product-cart-quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-cart-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.delete-product-cart {
  border: 0;
  background-color: var(--color-main2);
  color: var(--color-alert);
  cursor: pointer;
  font-size: 1rem;
}

.delete-product-cart:hover {
  transform:scale(1.2);
  transition: .3s;
}

.events-cart {
  display: flex;
  justify-content: space-between;
}

.drop-cart {
  border: 0;
  padding: 1rem;
  background-color: var(--color-main2);
  border-radius: 1rem;
  color: var(--color-background1);
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.drop-cart:hover {
  transform: scale(1.01);
  transition: 0.3s;
  background-color: var(--color-background1);
  color: var(--color-sucessful);
}

.total-price {
  display: flex;
}

.total {
  display: flex;
  background-color: var(--color-main2);
  color: var(--color-background1);
  border: 0;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 1rem;
  gap: 0.5rem;
  font-size: 0.85rem;
  font-weight: 500;
  text-transform: uppercase;
}

.btn-buy {
  border: 0;
  padding: 1rem;
  background-color: var(--color-background1);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: var(--color-main3);
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-buy:hover {
  color: var(--color-sucessful);
  transition: 0.3s;
}

.disabled {
  display: none;
}