@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --color-oxford-blue: #0A122A;
  --color-aspargus: #698F3F;
  --color-text: #535353;
  --color-seasalt: #FBFAF8;
  --color-bone: #E7DECD;
  --color-bole: #804E49;
  --color-alabaster: #F1ECE3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr ;
  background-color: var(--color-oxford-blue);
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 2rem;
  padding-right: 0;
  color: var(--color-bone);
}

.logo {
  font-weight: 700;
  font-size: 1.6rem;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border: 0;
  color: var(--color-bone);
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  padding: 1rem;
}

.btn-menu.active {
  background-color: var(--color-seasalt);
  color: var(--color-aspargus);
  width: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.bi-hand-index-fill,
.bi-hand-index {
  transform: rotate(0.25turn);
}

.btn-cart {
  margin-top: 8rem;
}

span {
  color: var(--color-aspargus);
}

.text-footer {
  color: var(--color-bone);
  font-size: 0.85rem;
}

main {
  background-color: var(--color-seasalt);
  margin: 1rem 1rem 1rem 0;
  border-radius: 2rem;
  padding: 3rem;
}

.main-title {
  color: var(--color-aspargus);
  margin-bottom: 2rem;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.product-img {
max-width: 100%;
border-radius: 1rem;
}

.product-datail {
  display: flex;
  flex-direction: column;
  background-color: var(--color-aspargus);
  color: var(--color-seasalt);
  padding: 0.5rem;
  border-radius: 1rem;
  margin-top: -1.7rem;
  position: relative;
  gap: 0.25rem;
}

.product-title {
  font-size: 1rem;
}

.product-add {
  border: 0;
  background-color: var(--color-oxford-blue);
  color: var(--color-bone);
  padding: 0.25rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 2px solid var(--color-oxford-blue);
}

.product-add:hover {
  background-color: var(--color-bone);
  color: var(--color-oxford-blue);
  transition: 0.3s;
}

/* Carrito */

.empty-cart, 
.buy-sucess {
  /* display: none; */
  color: var(--color-aspargus);
  margin: 1rem;
}

.products-cart {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.product-cart {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-alabaster);
  border-radius: 1rem;
  align-items: center;
  color: var(--color-oxford-blue);
  padding: 0.5rem;
  padding-right: 1.5rem;
}

.product-cart-img {
  width: 4rem;
  border-radius: 1rem;
}

.delete-product-cart {
  border: 0;
  background-color: var(--color-bone);
  color: var(--color-aspargus);
  cursor: pointer;
}

.events-cart {
  display: flex;
  justify-content: space-between;
}

.drop-cart {
  border: 0;
  padding: 1rem;
  background-color: #698F3F;
  border-radius: 1rem;
  color: var(--color-bone);
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.total-price {
  display: flex;
}

.total {
  display: flex;
  background-color: var(--color-alabaster);
  color: var(--color-oxford-blue);
  border: 0;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 1rem;
  gap: 0.5rem;
  text-transform: uppercase;
}

.btn-buy {
  border: 0;
  padding: 1rem;
  background-color: var(--color-aspargus);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: var(--color-bone);
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}